{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{% block title %}Djangowind{% endblock title %}</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">

		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>

	<body class="bg-grey-lightest font-sans leading-normal tracking-normal text-gray-800">

		<div class="container mx-auto px-4">
			<section class="flex items-center justify-center">
				<h1 class="text-5xl">Django + Tailwind = ❤️</h1>
			</section>
			{% block content %}
				<p>Placeholder text in base template. Replace with page content.</p>
			{% endblock content %}
		</div>


	</body>

</html>
